---
import BaseHead from '../components/layout/BaseHead.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import CookieBanner from '../components/layout/CookieBanner.astro';

interface Props {
  title: string;
  description: string;
  canonicalURL?: string;
  ogImage?: string;
  ogType?: 'website' | 'article';
  jsonLd?: object | object[];
}

const props = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <BaseHead {...props} />
  </head>
  <body class="bg-white text-gray-900 min-h-screen flex flex-col">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NF2RDPK3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- Skip navigation -->
    <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-[9999] focus:px-4 focus:py-2 focus:bg-amber-600 focus:text-white focus:rounded-lg focus:font-semibold">
      Zum Hauptinhalt springen
    </a>
    <Header />
    <main id="main-content" class="flex-1">
      <slot />
    </main>
    <Footer />
    <CookieBanner />

    <!-- HB Agency: In Page (global) -->
    <div class="hb-ad-inpage">
      <div class="hb-ad-inner">
        <div class="hbagency_cls hbagency_space_272592"></div>
      </div>
    </div>

    <!-- HB Agency: Interstitial -->
    <div id='hbagency_space_272590'></div>

    <!-- HB Agency: Sticky InFooter 728x90 -->
    <div id='HB_Footer_Close_hbagency_space_272588'>
      <div id='HB_CLOSE_hbagency_space_272588'></div>
      <div id='HB_OUTER_hbagency_space_272588'>
        <div id='hbagency_space_272588'></div>
      </div>
    </div>

    <!-- HB Agency: Sticky Left Banner 300x600 -->
    <div id='HB_Footer_Close_hbagency_space_272589'>
      <div id='HB_CLOSE_hbagency_space_272589'></div>
      <div id='HB_OUTER_hbagency_space_272589'>
        <div id='hbagency_space_272589'></div>
      </div>
    </div>
  </body>
</html>
